.background{
    background-color: #E8EAED;
}

.half-cards-wrap{
    display: flex;

}

.full-wrap{
    margin-bottom: 5px;
}

.half-wrap{
    width: 50%;
    margin-bottom: 5px;
}

.tab{
    color: black;
}

.nav-link{
    color: black !important;
}
